node_modules
dist
test
.husky
.vscode
.compodocrc
.env.example
.eslintcache
.gitignore
.github
.git
.nvmrc
.prettierignore
.prettier
.swcrc
LICENSE
*.sh
*.log
*.md
vault-oas.json
Dockerfile.dev
docker-compose.dev.yml
Dockerfile.prod
docker-compose.prod.yml