# Server Configs
ENV=local
PROTOCOL=http
HOST=<server_host>
PORT=<server_port>

# Database Configs
DATABASE_ENGINE=<db_engine>
DATABASE_TYPE=<db_type>
DATABASE_HOST=<db_host>
DATABASE_PORT=<db_port>
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SYNCHRONIZE=true #false for Production
DATABASE_ORM_CACHE=true

# Encryption
ENCRYPTION_KEY=<string>

# JWT Configs
JWT_SECRET_KEY=<string>
JWT_SIGN_EXPIRY=1d
# JWT_GLOBAL=true
# JWT_VERIFY_COMPLETE=true

# SMTP Configs
SMTP_TRANSPORT_HOST=smtp.gmail.com
SMTP_TRANSPORT_PORT=587    #Set to PORT=465 on Production
SMTP_TRANSPORT_SECURE=false   #Set to SECURE=true on Production
SMTP_TRANSPORT_AUTH_USERNAME=
SMTP_TRANSPORT_AUTH_PASSWORD=
SMTP_DEFAULTS_FROM="No Reply" <no-reply@localhost>
SMTP_PREVIEW=false
SMTP_TEMPLATE_DIR=/templates
SMTP_TEMPLATE_OPTIONS_STRICT=true

# Gemini Configs
GEMINI_API_KEY=

# Firebase Configs
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
GOOGLE_APPLICATION_CREDENTIALS="C:\...\dist\config\serviceAccount.json"

# Youtube Config
YT_MANIPULATOR_CLIENT_ID=<string>

# Multer File Config
MULTER_DEST=<server_folder_location>
MAX_FILE_SIZE=10000000 #10MB file
ACCEPT_FILE_TYPE=.(png|jpeg|jpg)

# AWS Config
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=your_region
AWS_S3_BUCKET_NAME=your_bucket_name